@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --preferred-color-scheme: light;
}

html {
  color-scheme: var(--preferred-color-scheme);
  font-family: "Montserrat", sans-serif;
}

.swal2-popup {
  font-family: "Montserrat", sans-serif;
}
